@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 10% 3.9%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 73, 86%, 63%;
    --primary-foreground: 240 10% 3.9%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 228, 7%, 14%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Color Theme Swatches in Hex */
.toro-04-1-hex {
  color: #525259;
}
.toro-04-2-hex {
  color: #212226;
}
.toro-04-3-hex {
  color: #cff250;
}
.toro-04-4-hex {
  color: #e2f263;
}
.toro-04-5-hex {
  color: #f2e96b;
}

/* Color Theme Swatches in RGBA */
.toro-04-1-rgba {
  color: rgba(82, 82, 89, 1);
}
.toro-04-2-rgba {
  color: rgba(33, 34, 38, 1);
}
.toro-04-3-rgba {
  color: rgba(207, 242, 80, 1);
}
.toro-04-4-rgba {
  color: rgba(226, 242, 99, 1);
}
.toro-04-5-rgba {
  color: rgba(242, 233, 107, 1);
}

/* Color Theme Swatches in HSLA */
.toro-04-1-hsla {
  color: hsla(240, 4, 33, 1);
}
.toro-04-2-hsla {
  color: hsla(228, 7, 13, 1);
}
.toro-04-3-hsla {
  color: hsla(72, 86, 63, 1);
}
.toro-04-4-hsla {
  color: hsla(66, 84, 66, 1);
}
.toro-04-5-hsla {
  color: hsla(56, 83, 68, 1);
}
